/* general informations */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0 10%;
}

/* header*/
header {
  border: 2px solid #68689e;
  padding: 10px;
  margin: 10px auto;
}

/* section color*/
.container {
    border: 2px solid #68689e;
    padding: 15px;
    margin: 20px auto;
}

.color-container {
  display: inline-block;
  width: 35%;
  text-align: center;
  margin: 20px auto;
  padding: 5 px;
}

.first-color-panel {
  background-color: #275bd3;
  color: #fff;
}

.color-label {
  width: 45%;
  display: inline-block;
}

.color-hex {
  font-size: 20px;
  text-decoration: underline;
}

.second-color-panel {
    background-color: #44cf19ea;
    color: #fff
}

.third-color-panel {
    background-color: #e60aaf;
    color: #000;
}

.fourth-color-panel {
    background-color: #ff9d0a;
    color: #000;
}

.fifth-color-panel {
    background-color: #fadea2;
    color: #000;
}
/* section font */
/*CSS rules to specify families

font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Redressed', cursive;*/

.font-container {
  display: inline-block;
  width: 35%;
  text-align: center;
  margin: 20px auto;
  padding: 5 px;
}

.regular {
    font-style: normal;
  }
  
.italic {
  font-style: italic;
}
  
.bold {
  font-weight: 700;
}
  
.Barlow Semi Condensed {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
  
.Cinzel {
  font-family: 'Cinzel', serif;
}
  
.poppins {
  font-family: 'Poppins', sans-serif;
}

.Redressed {
  font-family: 'Redressed', cursive;
}
  
/* section text style */

.text-container {
  display: inline-block;
  width: 35%;
  text-align: center;
  margin: 20px auto;
  padding: 5 px;
}

.text-panel h1 {
  font-weight: 700;
  font-size: 32px;
  font-family: 'Nunito Sans', sans-serif;
}
  
.text-panel h2 {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
  
.text-panel p {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
} 